#fraction{
    display: block;
    position: absolute;
    bottom:2%;
    left:5%;
    width:90%;
    max-width: 650px;
    max-height: 106px;
    height:8%;
    cursor: pointer;
    z-index: 2;
}

#fractionImg{
    width: 100%;
    height:100%;
    object-fit: fill;
}

#dividerImg{
    position: absolute;
    top:-5%;
    right:45%;
    width:10%;
    height:100%;
    transform: rotate(90deg);
    /* max-width: 74px; */
    /* max-height: 74px; */
    object-fit: contain;
}

#score{
    position: absolute;
    z-index: 2;
    left :0%;
    bottom: 0%;
    width: 50%;
    height:100%;
    font-family: "Microsoft JhengHei","微軟正黑體";
    font-size: 15pt;
    color:#F47165;
}

#scoreText{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space:nowrap;
}

#ballAmountDiv{
    position: absolute;
    z-index: 2;
    right :0%;
    bottom: 0%;
    width: 50%;
    height:100%;
    font-family: "Microsoft JhengHei","微軟正黑體";
    font-size: 15pt;
    color:#F47165;
}

#ballAmount{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space:nowrap;
}

.centerText {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space:nowrap;
}

@media screen and (min-width:650px) {
    #fraction{
        left: calc(50% - 325px);
    }
}
