html {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  text-align: center;
  background-image: url("../images/background.jpg");
  background-size: 100% 100%;
  font-size:20pt;
}


#pwdModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  z-index:3;
  text-align: center;
}


#pwdModalContent  {
  position: relative;
  background-color: #202125;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  width: 70vw;
  height: 40vh;
  overflow: auto;

}

#pwdModalInfo{
  color: white;
  text-align: center;
  font-size: 16pt;
}

#inputPassword{
  position: relative;
  width: 80%;
  height:36px;
  font-size:20pt;
}

#pwdModalButtonDiv {
  position: absolute;
  bottom: 10px;
  width: 96%;
  height: 54px;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;
  border: 0;
  padding: 0px 0 0 0px;
  cursor: pointer;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
}

#pwdButtonComfirm{
  background: #31333f;
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 2%;
  flex: 1;
}

#pwdButtonCancel{
  background: #31333f;
  border-radius: 16px;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 2%;
  flex: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.clickable-button {
  cursor: pointer;
}

.logout-button {
  text-align: right;
}

#logout {
  height: 7vh;
}

.game-intro-btn {
  max-width: 75%;
}

img {
  max-width: 100%;
  height: auto;
}

.two-button-div {
  display: flex;
}

.two-button-div > * {
  flex: 1;
}

#before-exchange {
  position: relative;
  bottom: 0;
  width: 100%;
}

.container {
  position: relative;
}

#after-exchange {
  display: none;
  position: relative;
  bottom: 0;
  width: 100%;
}

#before-login, #after-login {
  display: none;
}

#user-prize-list {
  padding: 0 10%;
}

/* .no-image {
  border: 5px solid rgb(179, 118, 2);
  font-size: 72px;
  background-color: rgb(250, 249, 0);
} */

.return-btn {
  width: 37.5%;
}

#logout-div {
  margin-bottom: 7vh;
}

#xrIframe {
  width: 100vw;
  height: 100vh;
}

#account-info{
  position: absolute;
  font-size: 5pt;
  color:rgba( 0 , 0 , 0 , 0.5);
}

#gameIntro{
  width:100vw;
  max-width: 900px;
}

#prize-description > img{
  width:100vw;
  max-width: 900px;
}

@media screen and (min-width:900px) {

  .game-intro-btn {
    max-width: 320px;
  }


  #gameStartImg{
    position: relative;
    left: calc(50% - 220px);
  }

  #prizeListImg{
    position: relative;
    right: calc(50% - 220px);
  }

  #prizeListImg2{
    position: relative;
    left: calc(50% - 220px);
  }

  #exchange-prize{
    position: relative;
    right: calc(50% - 220px);
  }

  #fb-login-button{
    position: relative;
    left: calc(50% - 220px);
  }
  
  #g-login-button{
    position: relative;
    right: calc(50% - 220px);
  }
}
