html {
  width: 100vw;
  /* max-width: 100vw; */
  /* min-height: 100vh; */
  /* overflow: hidden; */
  background-image: url("https://yongkangfile.s3-ap-northeast-1.amazonaws.com/images/ui/bg/img/1.png");
}

body {
  text-align: center;
  background-image: url("https://yongkangfile.s3-ap-northeast-1.amazonaws.com/images/ui/bg/img/1.png");
  background-size: 100% 100%; 
  font-size:20pt;
  margin:0px;
  max-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  /* height:100vh; */
  /* overflow: hidden; */
  font-family: "Microsoft JhengHei","微軟正黑體";
}

#account-info{
  position: absolute;
  font-size: 5pt;
  color:rgba( 255 , 255 , 255 , 0.5);
}

#bgImgDiv{
  position: absolute;
  width:100vw;
  height:100vh;
  z-index: -1;
}

#modelDiv{
  position: absolute;
  width:100vw;
  height:100vh;
  z-index: 2;
}

#bgImg{
  width: 100%;
  height:100%;
  object-fit: cover;
}

#miloDiv{
  position: absolute;
  width:54%;
  left: 0%;
  height:auto;
  bottom: 10%;
  max-width: 350px;
  max-height: 600px;
}

#hoonieDiv{
  position: absolute;
  width:55%;
  right:0%;
  height:auto;
  bottom: 10%;
  max-width: 350px;
  max-height: 600px;
}

#miloImg {
  width: 100%;
  height:100%;
  max-width: 421px;
  max-height: 740px;
  object-fit: contain;
}

#hoonieImg{
  width: 100%;
  height:100%;
  max-width: 446px;
  max-height: 756px;
  object-fit: contain;
}



#backToWix{
  position: relative;
  top:16px;
  left:10%;
  width:30%;
  max-width: 260px;
  max-height: 86px;
  height:auto;
  cursor: pointer;
  z-index: 2;
}


#backToWixImg{
  width: 100%;
  height:100%;
  object-fit: cover;
}

#couponIntroContainer{
  width: 80%;
  height: 30%;
  position: absolute;
  margin-top: 16px;
  left:10%;
  /* background-color: white; */
  text-align: justify;
  font-size:14pt;
  font-family: "Microsoft JhengHei","微軟正黑體";
  line-height: 120%;
}



#introFrameImg{
  width: 100%;
  height:100%;
  /* max-width: 650px; */
  /* max-height: 306px; */
  object-fit: fill;
}

#couponIntroContainerInfoDiv{
  color:white;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5%;
  margin-right: 8%;

  position: absolute;
  top:0%;
  left:2%;
  width:85%;
  height:75%;
}

#couponIntroContainerInfo{
  margin: 0;
  position: absolute;
  width:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameIntoContainer{
  position: absolute;
  float: center;
  top:40%;
  left:30%;
  width: 40%;
  height: auto;
  font-size: 10pt;
  z-index: 3;
}

#game1, #game2, #game3, #game4{
  color:black;
}

#before-login, #after-login {
  display: none;
  position: absolute;
  width:100%;
  height:18%;
  bottom: 5%;
  z-index: 2;
}

#g-login-div{
  width: 50%;
  height: auto;
  left: 25%;
  top: 0px;
  position: relative;
}

#fb-login-div{
  width: 50%;
  height: auto;
  left: 25%;
  margin-top: 15px;
  position: relative;
}

#fb-login-button{
  width:100%;
  height: 100%;
  max-width: 370px;
  max-height: 86px;
  object-fit: cover;
}

#g-login-button{
  width:100%;
  height: 100%;
  max-width: 370px;
  max-height: 86px;
  object-fit: cover;
}

#gameStartDiv{
  width: 60%;
  height: 40%;
  left: 20%;
  top: 0px;
  position: absolute;
}

#myCouponDiv{
  width: 60%;
  height: 40%;
  left: 20%;
  top:50%;
  position: absolute;
}

#gameStartImg{
  left:0%;
  width:100%;
  height: 100%;
  max-width: 370px;
  max-height: 86px;
  object-fit: contain;
  cursor: pointer;
}

#gameStartIntro{
  position: absolute;
  top:0px;
  margin-left: 0px;
  width:100%;
  height: 100%;
  max-width: 74px;
  max-height: 74px;
  object-fit: contain;
  display: none;
}

#myCouponImg{
  width:100%;
  height: 100%;
  max-width: 370px;
  max-height: 86px;
  object-fit: contain;
  cursor: pointer;
}

#myCouponIntro{
  position: absolute;
  top:0px;
  margin-left: 0px;
  width:100%;
  height: 100%;
  max-width: 74px;
  max-height: 74px;
  object-fit: contain;
  cursor: pointer;
  display: none;
}

#gameIntroModal, #leaveWarningModalDiv , #exchangeIntroModalDiv , #gameInfoModalDiv {
  z-index: 3;
}

#gameIntroModalContent{
  position: relative;
  margin: auto;
  top:5%;
  border-radius: 16px;
  width: 85vw;
  height: 80vh;
  max-width: 760px;
}

#gameIntroModalBGTopDiv{
  left:2%;
  top:0%;
  width:96%;
  height:15%;
  position: absolute;
}

#gameIntroModalBGTopImg , #exchangeIntroTitleBGTopImg , #gameInfoModalTitleBGTopImg {
  /* position: absolute; */
  left: 0%;
  top: 0%;
  width: 100%;
  height:100%;
  object-fit: fill;
}

#gameIntroModalBGTopInfo{
  position: absolute;
  top:50%;
  margin:0;
  color:white;
  font-size: 30pt;
}


#gameIntroModalBGDiv, #leaveWarningBGDiv , #exchangeIntroBGDiv , #gameInfoModalBGDiv {
  top: 0%;
  left:2%;
  width:96%;
  height:100%;
  /* max-width: 600px; */
  /* max-height: 670px; */
  position: absolute;
}

#gameIntroModalBGImg, #leaveWarningBGImg , #exchangeIntroBGImg , #gameInfoModalBGImg {
  /* position: absolute; */
  left: 0%;
  top: 0%;
  width: 100%;
  height:100%;
  object-fit: fill;
}

#leaveWarningCancel , #exchangeIntroCancel , #gameInfoModalCancel {
  position: absolute;
  top:-20px;
  right:-20px;
  width:15%;
  height:15%;
  max-width: 74px;
  max-height: 74px;
  object-fit: contain;
  cursor: pointer;
}

#exchangeIntroTitleDiv , #gameInfoModalTitleDiv {
  position: absolute;
  width:95%;
  height:15%;
  top:0%;
  left:3%;
  color:#F47165;
  font-size: 30pt;
}

#exchangeIntroInfo , #gameInfoModalInfo {
  position: absolute;
  margin: 5%;
  top:15%;
  width: 90%;
  height: 50%;
  left:2%;
  color:#F47165;
}

#exchangeIntroInfoText , #gameInfoModalInfoText { 
  font-size: 16pt;
  color:#F47165;
}

#leaveWarningInfo {
  position: absolute;
  margin: 15px;
  top:30%;
  width: 96%;
  height: 50%;
  left:2%;
  color:#F47165;
}

#gameIntroModalBGInfoDiv{
  top:17%;
  left:4%;
  width:92%;
  height:55%;
  font-size: 14pt;
  position: absolute;
}

#gameIntroModalBGInfoImg{
  /* position: absolute; */
  left: 0%;
  top: 0%;
  width: 100%;
  height:100%;
  object-fit: fill;
}

#gameIntroModalInfoDiv{
  margin:18px;
  top:0%;
  left:0%;
  width:90%;
  height:90%;
  color:#F47165;
  position: absolute;
}

#gameIntroModalInfo{
  margin: 0;
  position: absolute;
  width:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameIntroModalButtonDiv {
  position: absolute;
  bottom: 10px;
  width:100%;
  height:25%;
}

#leaveWarningButtonDiv , #exchangeIntroButtonDiv , #gameInfoModalButtonDiv {
  position: absolute;
  bottom: 10px;
  width:100%;
  height:15%;
}

#gameIntroModalComfirm {
  position: absolute;
  width:60%;
  height:50%;
  left:20%;
  top: 0%;
}

#leaveWarningComfirm , #exchangeIntroComfirm , #gameInfoModalComfirm {
  position: absolute;
  width:60%;
  left:20%;
  bottom: 5%;
}

#gameIntroModalCancel{
  position: absolute;
  width:60%;
  height:50%;
  left:20%;
  bottom: 0%;
}

#gameIntroModalComfirmImg , #leaveWarningComfirmImg , #exchangeIntroComfirmImg , #gameInfoModalComfirmImg {
  width:100%;
  height: 100%;
  max-width: 370px;
  max-height: 86px;
  object-fit: contain;
  cursor: pointer;
}

#gameIntroModalCancelImg , #leaveWarningCancelImg{
  width:100%;
  height: 100%;
  max-width: 370px;
  max-height: 86px;
  object-fit: contain;
}

/* class part start */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  /* https://stackoverflow.com/questions/10075524/sizing-div-based-on-window-width/35237091#35237091 */
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background-color: rgba( 74 , 77 , 84 , 0.85 ); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  /* background-color:white; */
  margin: auto;
  top:15%;
  border-radius: 16px;
  width: 85vw;
  height: 60vh;
  max-width: 760px;
  /* overflow: hidden; */
}

.modal-content > div {
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  width: 90%;
}

.centerText {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space:nowrap;
}

@media screen and (min-width:850px) {

  #couponIntroContainer{
    position: relative;
    float:center;
    top:2%;
    left:0%;
    width: 80%;
    height:auto;
    max-width: 543px;
    max-height: 320px;
    margin-left: auto;
    margin-right: auto;

    text-align: justify;
    font-size:14pt;
    font-family: "Microsoft JhengHei","微軟正黑體";
    line-height: 120%;
  }

  #introFrameImg{
    width: 100%;
    height:100%;
    /* max-width: 650px; */
    /* max-height: 306px; */
    position: relative;
    object-fit: fill;
  }

  #couponIntroContainerInfoDiv{
    color:white;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 8%;
  
    position: absolute;
    top:0%;
    left:2%;
    width:85%;
    height:75%;
  }
  
  #couponIntroContainerInfo{
    color:white;
  
    margin: 0;
    position: absolute;
    width:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }

  #backToWix{
    position: relative;
    float:left;
    left:1%;
    top:1%;
    width:30%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    max-height: 50px;
    height:auto;
    cursor: pointer;
    z-index: 2;
  }

  #backToWixImg{
    width: 100%;
    height:100%;
    object-fit: cover;
  }


  #bgImgDiv{
    position: absolute;
    width:100vw;
    height:100vh;
    z-index: -1;
  }

  #modelDiv{
    position: absolute;
    width:100vw;
    height:100vh;
    z-index: 2;
  }

  #bgImg{
    width: 100%;
    height:100%;
    object-fit: cover;
  }

  #miloDiv{
    position: absolute;
    width:54%;
    top: 30%;
    left: 0%;
    float:left;
    height:auto;
    bottom: 10%;
    max-width: 350px;
    max-height: 600px;
  }

  #hoonieDiv{
    position: absolute;
    width:55%;
    top: 30%;
    right:0%;
    float:left;
    height:auto;
    bottom: 10%;
    max-width: 350px;
    max-height: 600px;
  }


  #miloImg {
    width: 100%;
    height:100%;
    max-width: 421px;
    max-height: 740px;
    object-fit: contain;
  }

  #hoonieImg{
    width: 100%;
    height:100%;
    max-width: 446px;
    max-height: 756px;
    object-fit: contain;
  }

  #before-login, #after-login {
    display: none;
    position: absolute;
    width:100%;
    height:18%;
    bottom: 5%;
    z-index: 2;
  }

  #g-login-div{
    width: 50%;
    height: auto;
    left: 25%;
    top: 0px;
    position: relative;
  }

  #fb-login-div{
    width: 50%;
    height: auto;
    left: 25%;
    margin-top: 15px;
    position: relative;
  }

  #fb-login-button{
    width:100%;
    height: 100%;
    max-width: 370px;
    max-height: 86px;
    object-fit: cover;
  }

  #g-login-button{
    width:100%;
    height: 100%;
    max-width: 370px;
    max-height: 86px;
    object-fit: cover;
  }

  #gameStartDiv{
    width: 60%;
    height: 40%;
    left: 20%;
    top: 0px;
    position: absolute;
  }

  #myCouponDiv{
    width: 60%;
    height: 40%;
    left: 20%;
    /* margin-top: 15px; */
    position: absolute;
  }

  #gameStartImg{
    width:100%;
    height: 100%;
    max-width: 370px;
    max-height: 86px;
    object-fit: contain;
    cursor: pointer;
  }

  #myCouponImg{
    width:100%;
    height: 100%;
    max-width: 370px;
    max-height: 86px;
    object-fit: contain;
    cursor: pointer;
  }

  #gameIntroModalBGTopDiv{
    left:2%;
    width:92%;
    height:15%;

    /* max-width: 600px; */
    /* max-height: 100px; */
    position: absolute;
  }

  #gameIntroModalBGTopImg , #exchangeIntroTitleBGTopImg , #gameInfoModalTitleBGTopImg {
    /* position: absolute; */
    left: 0%;
    top: 0%;
    width: 100%;
    height:100%;
    object-fit: fill;
  }

  #gameIntroModalBGDiv{
    left:0%;
    width:96%;
    height:100%;
    /* max-width: 600px; */
    /* max-height: 670px; */
    position: absolute;
  }
  
  #gameIntroModalBGImg{
    /* position: absolute; */
    left: 0%;
    top: 0%;
    width: 100%;
    height:100%;
    object-fit: fill;
  }

  #gameIntroModalBGInfoDiv{
    top:17%;
    left:2%;
    width:92%;
    height:55%;
    font-size: 14pt;
    /* max-width: 575px; */
    /* max-height: 276px; */
    position: absolute;
  }

  #gameIntroModalBGInfoImg{
    /* position: absolute; */
    left: 0%;
    top: 0%;
    width: 100%;
    height:100%;
    object-fit: fill;
  }



  /* #fb-login-button{
    position: relative;
    left: calc(50% - 220px);
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }

  #g-login-button{
    position: relative;
    right: calc(50% - 220px);
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  } */
}


/*  ------------------------------------------------------------------------------------------------------------------------------------------  */
