html {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  text-align: center;
  /* background-image: url("../images/background.jpg"); */
  background-color: #202125;
  background-size: 100% 100%; 
  font-size:20pt;
  margin:0px;
}

/* 兌換頁面 start */

/* Reference: https://www.w3schools.com/howto/howto_js_tabs.asp */

#topBar{
  color: white;
}

#couponTable{
  margin-bottom: 10px;
}

/* Style the tab */
.tab {
  border-bottom: 1px solid #4a4d54;
  background-color: inherit;
  display: flex;
}

/* Style the buttons inside the tab */
.tablinksButton {
  /* Reference: https://blog.csdn.net/xiaobing_hope/article/details/51285695 */
  box-sizing: content-box;
  flex: 1;
  text-align: center;
  color: #ffffff;
  background-color: inherit;
  border-bottom: 3px solid #ffffff00;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  font-size: 12pt;
}

.tablinksToggle {
  display: none;
}

/* Create an active/current tablink class */
.tablinksToggle:checked + .tablinksButton {
  color: #00c99d;
  border-bottom: 3px solid #4a4d54;
}

#bottomBar {
  position: fixed;
  bottom: 1%;
  width:100%;
  height:8%;
}

#playeDiv{
  position: absolute;
  left: 2%;
  width:30%;
  height:100%;
  bottom:0px;
  background-color: #69918b;
  pointer-events: none;
  opacity: 0.5;
}

.centerText {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space:nowrap;
}

#coinDiv{
  position: absolute;
  left: 34%;
  width:30% ;
  height:100%;
  bottom:0px;
  background-color: #69918b; 
}

#coin{
  position: relative;
  left:-30px;
}

#coinNumber{
  left: calc(50% + 30px );
}

#leadBn{
  position: absolute;
  right: 2%;
  width:30% ;
  height:100%;
  bottom:0px;
  background-color: #69918b; 
}

.fillImg{
  max-width: 100%;
  max-height: 100%;
  object-fit :cover;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  /* https://stackoverflow.com/questions/10075524/sizing-div-based-on-window-width/35237091#35237091 */
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background-color: rgba( 74 , 77 , 84 , 0.85 ); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #202125;
  margin: 3% auto;
  border-radius: 16px;
  width: 85vw;
  height: 85vh;
  overflow: auto;
}

.modal-content > div {
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  width: 90%;
}

/* The Close Button */
.close {
  color: #aaa;
  /* float: right; */
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 


/* 購買兌換券 start */

#buyCouponDov{
  font-size: 18pt;
  color:white;
}

#couponImg{
  width:80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#couponNumberDiv{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24pt;
}

#couponNumberDiv > p{
  margin: 0;
  display: inline;
  /* white-space:nowrap;  */
}

#exchangeNumber{
  font-size: 18pt;
}

#buyCouponNote{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14pt;
}

#buyCouponConfirm{
  position:absolute;
  bottom: 15px;
  left:3px;
  width:40%;
  height:20%;
  max-height: 50px;
  background-color: rgba(80, 160, 150, 1.0);
  cursor: pointer;
}

#buyCouponCancel{
  position:absolute;
  bottom: 15px;
  right:3px;
  width:40%;
  height:20%;
  max-height: 50px;
  background-color: rgba(80, 110, 150, 1.0);
  cursor: pointer;
}

/* 購買兌換券 end */


/* 排行榜 */
#leadBnTitle{
  position: relative;
  margin-top: 15px;
  margin-bottom: 30px;
  min-height: 30px;
}

#leadBnImg{
  position: absolute;
  width:60px;
  height:60px;
  left:5px ;
}

#leadBnInfo{
  position: relative;
  font-size: 30px;
  color: #afb4f9;
  left: 32px ;
  top:15px;
}

#leaderTable{
  margin: auto;
  width:90%;
  color:white;
  font-size:14pt;
  overflow-wrap:anywhere;
}

/* 兌換頁面 end */


#pwdModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  z-index:3;
  text-align: center;
}


#pwdModalContent  {
  position: relative;
  background-color: #202125;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  width: 70vw;
  height: 40vh;
  overflow: auto;

}

#pwdModalInfo{
  color: white;
  text-align: center;
  font-size: 16pt;
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-block;
}

#inputPassword{
  position: relative;
  width: 80%;
  height:36px;
  font-size:20pt;
  margin-top: 20px;
}

/* 使用兌換券 start */

#pwdError {
  color: #ff0000;
  display: none;
  margin-top: 20px;
}

#pwdModalButtonDiv {
  position: absolute;
  bottom: 10px;
  width: 96%;
  height: 54px;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;
  border: 0;
  padding: 0px 0 0 0px;
  cursor: pointer;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
}

#pwdButtonComfirm{
  background: #31333f;
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 2%;
  flex: 1;
}

#pwdButtonCancel{
  background: #31333f;
  border-radius: 16px;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 2%;
  flex: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.clickable-button {
  cursor: pointer;
}

.logout-button {
  width: 50vw;
  display: inline-block;
  text-align: right;
  margin-bottom: 6vh;
  margin-left: 40vw;
}

.back-main-div {
  width: 50vw;
  display: inline-block;
  text-align: left;
  margin-bottom: 6vh;
  margin-right: 40vw;
}

#special-two-button {
  width: auto;
  height: 6vh;
  margin-bottom: 10px;
  color:rgba(255,255,255,0.5);
}

#special-two-button > a {
  float: left;
}

#special-two-button > span {
  float: right;
}

#logout {
  height: 6vh;
}

.game-intro-btn {
  max-width: 75%;
}

#gameStartImg{
  position: relative;
  width:100%;
  left: 0%;
  color:rgba(200,180,200,1.0);
  font-size: 18pt;
}

#myCoupon{
  position: relative;
  width:100%;
  left: 0%;
  color:rgba(200,180,200,1.0);
  font-size: 18pt;
}

img {
  max-width: 100%;
  height: auto;
}

.two-button-div {
  display: flex;
}

.two-button-div > * {
  flex: 1;
}

#before-exchange {
  position: relative;
  bottom: 0;
  width: 100%;
}

.container {
  position: relative;
}

#after-exchange {
  display: none;
  position: relative;
  bottom: 0;
  width: 100%;
}

#before-login, #after-login {
  display: none;
  position: fixed;
  width:100%;
  height:10%;
  bottom: 0%;
  background-color: rgba(20,20,20,1.0);
}

#fb-login-div{
  width: 50%;
  height: 100%;
  left: 0%;
  bottom: 0px;
  position: absolute;
}

#g-login-div{
  width: 50%;
  height: 100%;
  right: 0%;
  bottom: 0px;
  position: absolute;
}

#user-prize-list {
  color:white;
  padding: 0 10%;
  font-size: 18pt;
}

.return-btn {
  width: 37.5%;
}

#back-to-main-page {
  height: 6vh;
  width: auto;
}

#xrIframe {
  width: 100vw;
  height: 100vh;
}

#account-info{
  position: absolute;
  font-size: 5pt;
  color:rgba( 255 , 255 , 255 , 0.5);
}

#gameIntoContainer{
  width: 100%;
  height: 100vh;
}

.alignLeftText{
  font-size: 16pt;
  color:white; 
  left:10%;
  width:80%; 
  position:absolute;
  text-align: left;
  cursor: pointer;
}

#gameIntro{
  color:cyan;
  width:100%;
  height:auto;
  max-width: 900px;
}

#prize-description > img{
  width:100vw;
  max-width: 900px;
}

@media screen and (min-width:900px) {

  /* .game-intro-btn {
    max-width: 320px;
  } */


  /* #gameStartImg{
    position: relative;
    width:50%;
    left: 25%;
  } */

  #prizeListImg{
    position: relative;
    /* right: calc(50% - 220px); */
    width:50%;
    left: 25%;
  }

  #prizeListImg2{
    position: relative;
    left: calc(50% - 220px);
  }

  #exchange-prize{
    position: relative;
    right: calc(50% - 220px);
  }

  #fb-login-button{
    position: relative;
    left: calc(50% - 220px);
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  
  #g-login-button{
    position: relative;
    right: calc(50% - 220px);
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
}
